section.chinhsach(setBackground="./img/tuyendung-bg.png")
    h1.title-h1 môi trường chính sách
    .container 
        .row 
            .col-lg-5 
                .img 
                    img(src="./img/tuyendung-1.png", alt="")
            .col-lg-7
                p Tại Cao Nguyên chúng tôi luôn ưu tiên các chính sách đại ngộ cho nhân viên, vì chúng tôi biết rằng để đem đến một kết quả làm việc tốt nhất thì một nhân viên phải dốc hết tâm huyết vào công việc nên chúng tôi luôn có các chính sách đãi ngộ giúp khuyến khích, thúc đẩy tinh thần làm việc của mọi nhân viên. Ngoài ra, tại Cao Nguyên mỗi nhân viên sẽ được tham gia các hoạt động cũng như được đào tạo các kỹ năng nhằm giúp cho nhân viên phát triển thế mạnh và giữ nhân viên làm việc lâu dài tại Công ty.
section.che-do(setBackground="./img/tuyendung-bg2.png")
    .container 
        .row 
            .col-lg-4
                .item 
                    .img 
                        img(src="./img/tuyendung-icon1.png", alt="")
                    h3 chế độ lương hấp dẫn 
                    .content
                        p   Tăng lương hàng năm 
                        p Chế độ lương hấp dẫn 
                        p Lương tháng 13 
                        p Phụ cấp ngoài lương
            .col-lg-4
                .item 
                    .img 
                        img(src="./img/tuyendung-icon2.png", alt="")
                    h3 chế độ lương hấp dẫn 
                    .content
                        p   Tăng lương hàng năm 
                        p Chế độ lương hấp dẫn 
                        p Lương tháng 13 
                        p Phụ cấp ngoài lương
            .col-lg-4
                .item 
                    .img 
                        img(src="./img/tuyendung-icon3.png", alt="")
                    h3 chế độ lương hấp dẫn 
                    .content
                        p   Tăng lương hàng năm 
section.vitri-ungtuyen 
    h1.title-h1 vị trí ứng tuyển
    .container
        .table-responsive
            table.table
                thead
                    tr
                        th(scope='col') Stt
                        th.noidung(scope='col') Vị trí công việc
                        th(scope='col') Số lượng
                        th(scope='col') Nơi làm việc
                        th(scope='col') Ngày đăng 
                        th(scope='col') Hạn nộp hồ sơ
                        th(scope='col') 
                tbody 
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td 01
                        td Tp. Hồ Chí Minh
                        td 30/05/2019
                        td 30/05/2019
                        td 
                            a(href="") chi tiết
                
        .pages
            .pagination 
                ul.list 
                    li
                        a.active(href="") 1
                    li
                        a(href="") 2
                    li
                        a(href="") 3

