section.nganhnghe
    h1.title-h1 lĩnh vực hoạt động 
    .container 
        .box
            
            .box-img
                .img 
                    img(src="./img/nn-1.png", alt="")
            
            .box-content 
                .content 
                    h2 Sản xuất điện 
                    .briefcontent
                        p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu. Tại Cao Nguyên JSC, chúng tôi khai thác nguồn năng lượng từ mặt trời để chuyển hóa thành điện năng.
                        p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu.
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
        .box
            
            .box-content
                .content 
                    h2 Xây dựng công trình kỹ thuật dân dụng 
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao. Cao Nguyên JSC cung cấp các bản thiết kế cũng như các giải pháp giúp giải quyết các vấn đề về những công trình kỹ thuật dân dụng tại Việt Nam.
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao.
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
            
            .box-img
                .img 
                    img(src="./img/nn-2.png", alt="")
        .box
            
            .box-img
                .img 
                    img(src="./img/nn-3.png", alt="")
            
            .box-content
                .content 
                    h2 Lắp đặt hệ thống điện
                    p Với sự phát triển của ngày càng đi của nền kinh tế thì keo theo đó là nhu cầu về sử dụng nguồn điện cũng tăng mạnh. Chúng tôi phát triển các giải pháp lắp đặt hệ thông điện lưới trên toàn cả nước để phục vụ mọi nhu cầu của khách hàng. Với sự phát triển của ngày càng đi của nền kinh tế thì keo theo đó là nhu cầu về sử dụng nguồn điện cũng tăng mạnh.
                    p Với sự phát triển của ngày càng đi của nền kinh tế thì keo theo đó là nhu cầu về sử dụng nguồn điện cũng tăng mạnh. 
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
        .box
            
            .box-content
                .content 
                    h2 Kinh doanh máy móc thiết bị và phụ tùng máy
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu. Tại Cao Nguyên JSC, chúng tôi khai thác nguồn năng lượng từ mặt trời để chuyển hóa thành điện năng.
                    p Ngoài lĩnh vực cung cấp nguồn năng lượng điện tư nhiên và các giải pháp cho các công trình cũng như hệ thống điện lưới thì Cao Nguyên JSC còn kinh doanh cá loại máy móc, thiết bị liên quan đến điện năng để phục vụ cho nhu cầu của từng khách hàng.
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
            
            .box-img
                .img 
                    img(src="./img/nn-4.png", alt="")
        
        

