section.footer-wrapper(setBackground='./img/footer-bg.png')
    footer 
        .container 
            .row.nav
                .col-md-6.col-lg-3
                    nav 
                        h3 liên hệ
                        li
                            
                            .lh
                                em.mdi.mdi-map-marker
                                p Số 55A đường Mai Xuân Thưởng, Phường Thành Nhất, Thành phố Buôn Ma Thuột, tỉnh Đắk Lắk.
                        li
                            .lh
                                em.mdi.mdi-phone
                                p 0262 6508614
                        li
                            .lh
                                em.mdi.mdi-fax
                                p 0262 6508614
                        li
                            .lh 
                                em.mdi.mdi-email
                                p nangluongcaonguyen@gmail.com
                .col-md-6.col-lg-3
                    nav.menu
                        h3 truyền thông
                        li
                            a(href="./tintuc.html") Tin tức - Sự kiện
                        li
                            a(href="./thuvien.html") Thư viện ảnh 
                        li
                            a(href="./video.html") Video clips
                        li
                            a(href="./e-brochure.html") E-brochure
                .col-md-6.col-lg-3
                    nav.menu
                        h3 Liên kết nhanh
                        li
                            a(href="./gioithieu.html") Giới thiệu 
                        li
                            a(href="./quanhe.html") Quan hệ cổ đông
                        li
                            a(href="#") Hỗ trợ khách hàng
                        li
                            a(href="./tuyendung.html") Tuyển dụng
                        li
                            a(href="./tuyendung-ct.html") Liên hệ
                .col-md-6.col-lg-3
                    nav.dangky
                        h3 đăng ký nhận bản tin
                        li
                            p Đăng ký bản tin để cập nhật những tin tức mới nhất từ Cao Nguyên JSC
                        li
                            .box-bantin
                                input(type="text" placeholder="nhập email")
                                .button 
                                    img(src="./img/send.png", alt="")
                        li.social-icon
                            a.fb(href="#")
                                em.fab.fa-facebook-f
                            a.ytb(href="#")
                                em.fab.fa-youtube
                            a.twt(href="#")
                                em.fab.fa-twitter
            .row
                .col-12
                    .copyright
                        .left
                            p Copyright © 2019 Cao Nguyên JSC. All Rights Reserved. Thiết kế bởi 
                                span 
                                    a(href="https://canhcam.vn") Cánh Cam.
                        ul.right
                            li
                                a(href="#") Điều khoản sử dụng
                            li
                                a(href="#") Chính sách bảo mật


                        