section.header
    .container 
        .header-wrapper 
            .header-left
                .navbrand 
                    a.logo(href="/") 
                        img(src="./img/logo-caonguyen.png", alt="")
            .header-right 
                .header-top 
                    .searchbox 
                        input(type="text" placeholder="Tìm kiếm") 
                        a(href="").searchbutton
                            em.mdi.mdi-magnify
                    .callbox
                        em.mdi.mdi-phone 
                        |0262 6508614
                    .text 
                        p Điện lượng sản xuất
                    .language-wrapper
                        .language-active
                            p VN
                            em.lnr.lnr-chevron-down
                        .language-list
                            a(href="#").language-item EN
                            a(href="#").language-item EN
                    .toggle-button
                        .button
                .header-bottom 
                    .menu-wrapper 
                        ul.main-menu
                            li
                                a(href="./gioithieu.html") giới thiệu
                            li
                                a(href="./chitiet-nganhnghe.html") lĩnh vực hoạt động 
                            li
                                a(href="./sanpham.html") sản phẩm & dịch vụ
                            li
                                a(href="./quanhe.html") quan hệ cổ đông
                            li
                                a(href="./doitac.html") đối tác 
                            li
                                a(href="./tuyendung.html") tuyển dụng
                            li
                                a(href="./lienhe.html") liên hệ
                .sidebar-menu 
        .back-drop

        


                    


                