<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="banner trang home" value="1" resourcefile="" />
    <add name="banner trang trong" value="2" resourcefile="" />
    <add name="banner trang đối tác" value="4" resourcefile="" />
    <add name="banner home đối tác" value="8" resourcefile="" />
  </position>
  
</settings>