section.linhvuc-wrapper
    h1.title-h1(data-aos="fade-down" data-aos-offset="120" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out") lĩnh vực hoạt động
    .container
        .list-item
            .item(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600")
                .img
                    img(src="./img/home/hoatdong-1.png", alt="")
                    .overlay 
                        a.title(href="#") Năng luợng
                        a(href="").button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            .item(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800")
                .img
                    img(src="./img/home/hoatdong-2.png", alt="")
                    .overlay 
                        a.title(href="#") Xây dựng - Hạ tầng
                        a.button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            .item(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000") 
                .img
                    img(src="./img/home/hoatdong-3.png", alt="")
                    .overlay 
                        a.title(href="#") Lắp đặt hệ thống
                        a.button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            .item(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200") 
                .img
                    img(src="./img/home/hoatdong-4.png", alt="")
                    .overlay 
                        a.title(href="#") Kinh doanh máy móc thiết bị & phụ tùng
                        a.button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            
