section.chitiet-nganhnghe 
    h1.title-h1 sản xuất điện 
    .container 
        .row.box
            .col-lg-6.box-content
                .content 
                    h2 Tổng quan
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu. Tại Cao Nguyên JSC, chúng tôi khai thác nguồn năng lượng từ mặt trời để chuyển hóa thành điện năng.
                    h2 Quy mô
                    p Dự án Nhà máy điện mặt trời Jang Pông mới đây chính thức đi vào hoạt động (giai đoạn 1), với công suất lắp đặt 10 MWp, tổng vốn đầu tư 200 tỷ đồng:
                    p - Diện tích 11,2 ha
                    p - Lưới điện 35 kVA
                    p - Cung cấp sản lượng điện 17,5 triệu kWh/năm.
            .col-lg-6.box-img
                .img 
                    img(src="./img/chitiet-nn-1.png", alt="")
        .row.box
            .col-lg-6.box-img
                .img 
                    img(src="./img/chitiet-nn-2.png", alt="")
            .col-lg-6.box-content 
                .content 
                    h2 Nguồn điện sạch đến từ mặt trời
                    p Năng lượng mặt trời là năng lượng tái tạo hoặc "xanh" được cung cấp hoàn toàn bởi mặt trời. Cao Nguyên JSC có một hệ thống các nhà máy điện hấp thụ năng lượng mặt trời từ các pin mặt trời khiến các electron trong các tế bào silicon của bảng điều khiển giải phóng năng lượng trở thành dòng điện trực tiếp (DC) và điện sẽ được lưu trữ trong pin hoặc được đưa vào lưới điện.
                    h2 Một nguồn năng lượng an toàn và tác động thấp
                    p Ánh sáng mặt trời là miễn phí, vô hạn và dễ dàng tiếp cận, không giống như nhiên liệu hóa thạch được khai thác và vận chuyển. Một khi nguồn nhiên liệu bị khai thác cạn kiệt thì sẽ gây ra suy thoái nghiêm trọng về đất đai và sinh thái, và có nguy cơ xảy ra thảm họa như sự cố tràn dầu.