section.thuvien
    h1.title-h1 tin tức & sự kiện
    .container 
        nav.row.no-gutters.tab-navigation
            a.active(href="javascript:void(0)" data-type="tab-1") tin tức - sự kiện
            a(href="javascript:void(0)" data-type="tab-2") thư viện ảnh
            a(href="javascript:void(0)" data-type="tab-3") thư viện video
            a(href="javascript:void(0)" data-type="tab-4") E - brochure
        .row.tab-item#tab-4
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/2.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/3.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/4.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/5.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/6.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/7.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .tab-item#tab-1.active
            .row
                .col-12.col-lg-4.items
                    figure 
                        a(href="").img 
                            img(src="./img/home/tintuc-1.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#")
                                h3 Nhà máy điện mặt trời trị giá 200 tỉ đồng của Đắk Lắk đi vào hoạt động
                            p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động.
                .col-12.col-lg-4.items
                    figure 
                        a(href="").img 
                            img(src="./img/home/tintuc-2.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#") 
                                h3 Agribank Chi nhánh TP. Buôn Ma Thuột – Bắc Đăk Lăk: Tài trợ 120 tỉ đồng cho Dự án 
                            p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động.
                .col-12.col-lg-4.items
                    figure 
                        a(href="").img 
                            img(src="./img/home/tintuc-3.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#") 
                                h3 Đaklak Nhà máy điện mặt trời thứ tư đi vào hoạt động
                            p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga error, atque laboriosam illum exercitationem quisquam quam consequuntur possimus sequi! Perferendis cumque veniam recusandae nesciunt! Aliquid ab omnis similique minus ad?
                .col-lg-12.pages
                    .pagination 
                        ul.list 
                            li
                                a.active(href="") 1
                            li
                                a(href="") 2
                            li
                                a(href="") 3
        .row.tab-item#tab-2
            .col-sm-12.col-lg-6.left
                .row.big 
                    .img
                        img(src="./img/thuvien-1.png", alt="")
                        .overlay
                            .bg
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                a.title(href="#") album 1
                .row.small
                    .col-6.box-img
                        .img 
                            img(src="./img/thuvien-4.png", alt="")
                            .overlay
                                .bg
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    a.title(href="#") album 1
                    .col-6.box-img 
                        .img 
                            img(src="./img/thuvien-5.png", alt="")
                            .overlay
                                .bg
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    a.title(href="#") album 1
            .col-sm-12.col-lg-6.right
                .row.small
                    .col-6.box-img 
                        .img 
                            img(src="./img/thuvien-4.png", alt="")
                            .overlay
                                .bg
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    a.title(href="#") album 1
                    .col-6.box-img 
                        .img 
                            img(src="./img/thuvien-5.png", alt="")
                            .overlay
                                .bg
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    a.title(href="#") album 1
                .row.big 
                    .img
                        img(src="./img/thuvien-1.png", alt="")
                        .overlay
                            .bg
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                a.title(href="#") album 1
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-3
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        