section.gioithieu-wrapper
    h1.title-h1(data-aos="fade-down" data-aos-offset="120" data-aos-duration="800" data-aos-easing="ease-in-out") giới thiệu
    .container 
        .row 
            .col-12.col-lg-6.left(setBackground='./img/home/gioithieu-bg.png')
                .content(data-aos="zoom-in" data-aos-duration="1100")
                    p Công ty Cổ phần Đầu tư Năng lượng Cao Nguyên, được thành lập ngày 25 tháng 5 năm 2017. Với phương châm hoạt động “Hướng đến sự phát triển bền vững, đem lại lợi ích cao nhất cho các cổ đông và cho xã hội” Cao Nguyen JSC luôn cố gắng mang đến những sản phẩm chất lượng, và những dự án mang tính tương lai hướng đến xã hội xanh, sạch cùng nguồn điện thân thiên hơn với môi trường.
                    a.button-viewmore xem thêm
                        em.mdi.mdi-arrow-right

            .col-12.col-lg-6.right   
                .img(data-aos="fade-right" data-aos-offset="120" data-aos-delay="750" data-aos-duration="1000" data-aos-easing="ease-in-out")
                    img(src="./img/home/gioithieu-1.png", alt="")
                .img(data-aos="fade-left" data-aos-offset="120" data-aos-delay="750" data-aos-duration="1000" data-aos-easing="ease-in-out")
                    img(src="./img/home/gioithieu-2.png", alt="")
