section.linhvuckhac 
    .container 
        h2 Lĩnh vực hoạt động khác 
        .list-item 
            .item 
                .img 
                    img(src="./img/chitiet-nn-4.png", alt="")
                    .overlay 
                        a.title(href="#") Xây dựng kỹ thuật công trình dân dụng
                        a(href="").button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            .item 
                .img 
                    img(src="./img/chitiet-nn-5.png", alt="")
                    .overlay 
                        a.title(href="#") Xây dựng kỹ thuật công trình dân dụng
                        a.button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            .item 
                .img 
                    img(src="./img/chitiet-nn-6.png", alt="")
                    .overlay 
                        a.title(href="#") Xây dựng kỹ thuật công trình dân dụng
                        a(href="").button-viewmore xem thêm
                            em.mdi.mdi-arrow-right
            

