section.gioithieu-wrapper
    h1.title-h1 Giới Thiệu
    .container 
        .box
            .box-content(setBackground='./img/gioithieu-bg-1.png')
                .content
                    p Công ty Cổ phần Đầu tư Năng lượng Cao Nguyên, được thành lập ngày 25 tháng 5 năm 2017. Với phương châm hoạt động “Hướng đến sự phát triển bền vững, đem lại lợi ích cao nhất cho các cổ đông và cho xã hội” Cao Nguyen JSC luôn cố gắng mang đến những sản phẩm chất lượng, và những dự án mang tính tương lai hướng đến xã hội xanh, sạch cùng nguồn điện thân thiên hơn với môi trường.
                    p Công ty Cổ phần Đầu tư Năng lượng Cao Nguyên được thành lập vào năm 2017 là một đơn vị cung cấp nguồn điện ở mọi nơi. Nguồn điện được sản xuất điện từ nhà máy điện mặt trời Jang Pông giai đoạn 1 (10MWp) và chúng tôi còn bán điện cho Tập đoàn điện lực Việt Nam (EVN). Chúng tôi đem đến nguồn điện từ năng lượng mặt trời bởi vì chúng tôi biết nguồn điện rất cần thiết nhưng phải khai thác như thế nào để tối ưu nhất và bảo vệ môi trường tốt nhất.
            .box-img
                .img
                    img(src="./img/gioithieu-1.png", alt="")
        .box
            .box-img 
                .img
                    img(src="./img/gioithieu-2.png", alt="")
            .box-content(setBackground='./img/gioithieu-bg-2.png')
                .content 
                    h2 Tầm nhìn
                    ul
                        li 
                            p Trở thành Đơn vị cung cấp nguồn điện cho Quốc gia và xuất khẩu ra Thế giới
                        
                        
                        li 
                            p CAO NGUYEN IE JSC hướng đến sự phát triển bền vững, đem lại lợi ích cao nhất cho các cổ đông và cho xã hộ
                    h2 Sứ mệnh 
                    ul
                        li 
                            p Tạo ra nguồn năng lượng điện từ thiên nhiên góp phần bảo vệ môi trường từng ngày
                        
                        li 
                            p Cung cấp nguồn năng lượng điện sạch cho toàn cả nước
                        
                        li 
                            p Kiến tạo nên mọi công trình kỹ thuật cho mọi doanh nghiệp
        