<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatelist xsltname="linh-vuc-hoat-dong.xslt" name="lĩnh vực hoạt động"></templatelist>
  <templatedetail xsltname="chi-tiet-linh-vuc.xslt" name="Chi tiết lĩnh vực"></templatedetail>
  <templatelist xsltname="dich-vu.xslt" name="dịch vụ"></templatelist>
  <templatelist xsltname="e-brochure.xslt" name="e-brochure"></templatelist>
  <templatelist xsltname="gioi-thieu.xslt" name="giới thiệu"></templatelist>
  <templatelist xsltname="tin-tuc-su-kien.xslt" name="Tin tức sự kiện"></templatelist>
  <templatedetail xsltname="chi-tiet-tin-tuc.xslt" name="Chi tiết tin tức"></templatedetail>
  <templatelist xsltname="thu-vien-anh.xslt" name="Thư viện ảnh "></templatelist>
  <templatelist xsltname="video.xslt" name="Thư viện video "></templatelist>
  <templatelist xsltname="doi-tac.xslt" name="Đối tác "></templatelist>
  
  <templatelist xsltname="quan-he-co-dong.xslt" name="quan hệ cổ đông"></templatelist>
  <templatelist xsltname="tuyen-dung.xslt" name="Tuyển dụng"></templatelist>
  <templatedetail xsltname="chi-tiet-tuyen-dung.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <templatelist xsltname="san-pham.xslt" name="sản phẩm"></templatelist>
  <templatelist xsltname="du-an-big.xslt" name="dự án big box"></templatelist>

  <templatedetail xsltname="chi-tiet-san-pham.xslt" name="Chi tiết sản phẩm"></templatedetail>
  <templatelist xsltname="home-tin-tuc.xslt" name="tin tức trang home"></templatelist>
  <templatelist xsltname="home-gioi-thieu.xslt" name="giới thiệu trang home"></templatelist>
  <templatelist xsltname="home-linh-vuc.xslt" name="lĩnh vực trang home"></templatelist>
  
  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>