section.thuvien
    h1.title-h1 truyền thông 
    .container 
        .navigation-wrapper
            nav.row.no-gutters.tab-navigation
                a(href="javascript:void(0)" data-type="tab-1") tin tức - sự kiện
                a.active(href="javascript:void(0)" data-type="tab-2") thư viện ảnh
                a(href="javascript:void(0)" data-type="tab-3") thư viện video
                a(href="javascript:void(0)" data-type="tab-4") E - brochure
        .row.tab-item#tab-4
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/2.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/3.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/4.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/5.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/6.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/7.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-1
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.gallery-img
            .col-sm-12.col-lg-6.left
                .row.big 
                    .item
                        a(href="./img/thuvien-1.png" data-fancybox="image")
                            figure
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                .image
                                    img(src="./img/thuvien-1.png", alt="alt")
                                figcaption
                                    h3 Album1
                                    
                .row.small
                    .col-6
                        .item
                            a(href="./img/thuvien-1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien-1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                    .col-6 
                        .item
                            a(href="./img/thuvien-1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien-1.png", alt="alt")
                                    figcaption
                                        h3 Album1
            .col-sm-12.col-lg-6.right
                .row.small
                    .col-6 
                        .item
                            a(href="./img/thuvien-1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien-1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                    .col-6 
                        .item
                            a(href="./img/thuvien-1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien-1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                .row.big 
                    .item
                        a(href="./img/thuvien-1.png" data-fancybox="image")
                            figure
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                .image
                                    img(src="./img/thuvien-1.png", alt="alt")
                                figcaption
                                    h3 Album1
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-3
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.mdi.mdi-download-outline
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        