.quanhe
    padding: 7rem 0 
    .quanhe-wrapper 
        .select-years
            span 
                font-weight: bold
                position: relative
                padding-left: 20px
                &:before 
                    content: ''
                    display: block
                    width: 3px 
                    height: 30px
                    position: absolute
                    background: #ff9c00
                    top: 50%
                    transform: translateY(-50%)
                    left: 0

            .select
                display: inline-block
                position: relative
                margin-left: 1rem
                select
                    width: 120px
                    height: 30px
                    color: #666666
                    padding: 0 20px
                    background: #f3f3f3
                    font-size: 16px
                    border-radius: 0
                    border: 1px solid #e1e1e1
                    -webkit-appearance: none
                    -moz-appearance: none
                    &:focus
                        outline: none
                &:after
                    content: '\f140'
                    font: normal normal normal 24px/1 Material Design Icons
                    position: absolute
                    top: 50%
                    right: 20px
                    font-size: 18px
                    transform: translateY(-50%)
                    color: #666666
        .table-responsive
            white-space: nowrap
            @media (max-width: 1200px)
                overflow-x: auto
            .table 
                width: 100%
                margin-top: 30px
                thead
                    background: #ff9c00
                    tr 
                        th
                            padding: 20px 30px
                            text-align: center
                            color: #ffffff
                            font-size: 16px
                            font-weight: bold
                            border: 1px solid #e1e1e1
                            border-top: none
                        .noidung
                            text-align: left
                            border: none
                tbody 
                    tr 
                        transition: all .4s ease-in-out
                        td 
                            font-size: 1.6rem
                            padding: 20px 30px
                            text-align: center
                            border: 1px solid #e1e1e1
                            a 
                                color: #333333
                        td:last-child
                            a
                                border-bottom: 2px solid #333333
                                transition: all .4s ease-in-out
                            
                        .title
                            text-align: left
                    tr:first-child
                        border-top: none
                &:hover 
                    thead 
                        tr 
                            .noidung 
                                a 
                                    border: none
                    tbody
                        tr
                            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3)
                            td 
                                color: #ff9c00
                                transition: all .4s ease-in-out
                                a 
                                    color: #ff9c00
                                    border-bottom: 2px solid #ff9c00
                            .title
                                
                                a 
                                    color: #333333
                                    text-decoration: none
                                    border: none
            @media screen and(max-width:768px)
                .table
                    thead
                        display: none
                    tbody
                        tr
                            border-bottom: 1px solid #e0e0e0!important
                            position: relative
                            padding: 16px 0
                            display: flex
                            flex-wrap: wrap
                            height: 100%
                            border: none
                            th
                                flex: 0 0 100%
                                text-align: left
                                    
                                &:before
                                    font-size: 24px
                            td
                                flex: 0 0 100%
                                border: none
                                padding: 0
                                line-height: 2
                                &:nth-child(2)
                                    &:before
                                        display: none
                                    a
                                        position: absolute
                                        top: 15px
                                        left: 50px
                                        font-size: 1.8rem
                                        font-weight: 600
                                        text-transform: uppercase
                                        color: #ff9c00
                                        white-space: pre-wrap
                        
                                &:not(:nth-child(1))
                                    text-align: left
                            td:nth-child(1)
                                text-align: left
                                font-weight: 600
                                font-size: 1.8rem
                                padding-bottom: 25px
                                color: green
                                &:before
                                    display: none
                                &:before
                                    content: attr(attribute) ": "
        .pages
            display: flex
            justify-content: center
            padding-top: 30px
            .pagination 
                text-align: center
                position: relative
                width: 200px
                &:after 
                    font: normal normal normal 24px/1 Material Design Icons
                    content: '\f054'
                    font-size: 16px
                    color: #999999
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    right: 0
                &:before
                    font: normal normal normal 24px/1 Material Design Icons
                    content: '\f04d'
                    font-size: 16px
                    color: #999999
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    left: 0
                ul 
                    list-style: none 
                    position: relative
                    &:after
                        content: ''
                        display: block
                        position: absolute
                        bottom: -7px
                        left: 50%
                        transform: translate(-50%)
                        width: 150px
                        height: 3px 
                        background: #f3f3f3
                    li 
                        display: inline-block
                        a 
                            color: #999999
                            font-size: 16px 
                            padding: 6px 15px 
                            position: relative
                            &.active 
                                color: #ff9100
                                &:after
                                    content: ''
                                    display: block
                                    position: absolute
                                    bottom: -3px
                                    left: 50%
                                    transform: translate(-50%)
                                    width: 20px
                                    height: 3px 
                                    background: #ff9100
                                    z-index: 9

               