section.quanhe
    h1.title-h1 quan hệ cổ đông
    .container
        .quanhe-wrapper 
            .select-years 
                span Năm
                    .select
                        select 
                            option(value="") 2019
                            option(value="") 2019
            .table-responsive 
                table.table
                    thead
                        tr
                            th(scope='col') Stt
                            th.noidung(scope='col') Nội dung công bố thông tin
                            th(scope='col') Ngày đăng 
                            th(scope='col')
                    tbody 
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
                        tr 
                            td 01
                            td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                            td 30/06/2019
                            td 
                                a(href="")
                                    em.mdi.mdi-download-outline
            .pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        