extends _layout.pug

block var
	- var title = 'Liên hệ'
	- var bodyClass = 'lien-he-page'

block main
	include ../components/lienhe/banner/index
	include ../components/lienhe/breadcrumb/index
	include ../components/lienhe/lienhe/index
	
	
	