extends _layout.pug

block var
	- var title = 'Quan hệ cổ đông'
	- var bodyClass = 'quan-he-co-dong-page'

block main
	include ../components/quanhe/banner/index
	include ../components/quanhe/quanhe/index