extends _layout.pug

block var
	- var title = 'Sản phẩm & Dịch vụ'
	- var bodyClass = 'chi-tiet-san-pham-page'

block main
	include ../components/tintuc-chitiet/banner/index
	include ../components/tintuc-chitiet/breadcrumb/index
	include ../components/tintuc-chitiet/chitiet/index