section.tintuc-wrapper(setBackground='./img/home/tintuc-bg.png')
    h1.title-h1(data-aos="zoom-out" data-aos-offset="120" data-aos-delay="100" data-aos-duration="800" data-aos-easing="ease-in-out") tin tức - sự kiện
    .container 
        .row.list-tintuc
            .col-12.col-lg-4.item(data-aos="fade-up-left" data-aos-duration="800" data-aos-easing="ease-in-out")
                figure 
                    a(href="").img 
                        img(src="./img/home/tintuc-1.png", alt="")
                    figcaption 
                        time 26/07/2019
                        a.title(href="#")
                            h3 Nhà máy điện mặt trời trị giá 200 tỉ đồng của Đắk Lắk đi vào hoạt động
                        p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động.
            .col-12.col-lg-4.item
                figure 
                    a(href="").img 
                        img(src="./img/home/tintuc-2.png", alt="")
                    figcaption 
                        time 26/07/2019
                        a.title(href="#") 
                            h3 Agribank Chi nhánh TP. Buôn Ma Thuột – Bắc Đăk Lăk: Tài trợ 120 tỉ đồng cho Dự án 
                        p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động.
            .col-12.col-lg-4.item
                figure 
                    a(href="").img 
                        img(src="./img/home/tintuc-3.png", alt="")
                    figcaption 
                        time 26/07/2019
                        a.title(href="#") 
                            h3 Đaklak Nhà máy điện mặt trời thứ tư đi vào hoạt động
                        p Theo Hiệp hội năng lượng sạch Việt Nam cho biết, dự án Nhà máy điện mặt trời Jang Pông đã chính thức đi vào hoạt động. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga error, atque laboriosam illum exercitationem quisquam quam consequuntur possimus sequi! Perferendis cumque veniam recusandae nesciunt! Aliquid ab omnis similique minus ad?
