section.doitac-wrapper 
    h1.title-h1 đối tác
    .container
        .list-items
            .items 
                .img
                    img(src="./img/home/doitac-1.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-7.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-4.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-5.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-8.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-2.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-9.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-4.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-5.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items 
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
            .items
                .img
                    img(src="./img/home/doitac-6.png", alt="")
                