section.sanpham
    h1.title-h1 sản phẩm
    .container 
        .box
            .box-img
                .img 
                    img(src="./img/sanpham-1.png", alt="")
            .box-content 
                .content 
                    h2 Sản xuất điện 
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu. Tại Cao Nguyên JSC, chúng tôi khai thác nguồn năng lượng từ mặt trời để chuyển hóa thành điện năng.
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu.
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
        .box
            .box-content
                .content 
                    h2 Xây dựng công trình kỹ thuật dân dụng 
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao. Cao Nguyên JSC cung cấp các bản thiết kế cũng như các giải pháp giúp giải quyết các vấn đề về những công trình kỹ thuật dân dụng tại Việt Nam.
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao.
                    a.button-viewmore(href="") xem thêm
                        em.mdi.mdi-arrow-right
            .box-img
                .img 
                    img(src="./img/sanpham-2.png", alt="")
        
        

