section.home-banner 
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .img 
                    img(src="./img/home/home-banner.png", alt="")
                .title 
                    span Mang ánh sáng đến cuộc sống của bạn
            .swiper-slide 
                .img 
                    img(src="./img/home/home-banner.png", alt="")
                .title 
                    span Mang ánh sáng đến cuộc sống của bạn
            .swiper-slide 
                .img 
                    img(src="./img/home/home-banner.png", alt="")
                .title 
                    span Mang ánh sáng đến cuộc sống của bạn
        .swiper-pagination
    
        .swiper-btn-prev
            em.lnr.lnr-chevron-left  
        .swiper-btn-next
            em.lnr.lnr-chevron-right
