section.e-brochure
    h1.title-h1 truyền thông 
    .container.tab-head
        .tab-current
            span E-brochure 
            em.mdi.mdi-chevron-down
        nav.row.no-gutters.tab-navigation
            a.tab-link(href="javascript:void(0)" data-type="tab-1") tin tức - sự kiện
            a.tab-link(href="javascript:void(0)" data-type="tab-2") thư viện ảnh
            a.tab-link(href="javascript:void(0)" data-type="tab-3") thư viện video
            a.tab-link.active(href="javascript:void(0)" data-type="tab-4") E - brochure
        .row.tab-item#tab-4.active
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/2.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/3.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/4.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/5.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/6.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/7.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-1
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-2
            .col-sm-12.col-lg-6
                .row.big 
                    img(src="./img/thuvien-1.png", alt="")
                .row.small
                    .col-6 
                        .img 
                            img(src="./img/thuvien-4.png", alt="")
                    .col-6 
                        .img 
                            img(src="./img/thuvien-5.png", alt="")
            .col-sm-12.col-lg-6
                .row.small
                    .col-6 
                        .img 
                            img(src="./img/thuvien-4.png", alt="")
                    .col-6 
                        .img 
                            img(src="./img/thuvien-5.png", alt="")
                .row.big 
                    img(src="./img/thuvien-1.png", alt="")
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        .row.tab-item#tab-3
            .col-sm-6.col-lg-3 
                .item 
                    .img 
                        img(src="./img/e-brochure/1.png", alt="")  
                    .title 
                        a(href="") 
                            h3 Brochure 1
                        a.download(href="#") Tải về
                            em.lnr.lnr-download
            .col-12.pages
                .pagination 
                    ul.list 
                        li
                            a.active(href="") 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
        