section.doitac-wrapper 
    h1.title-h1(data-aos="zoom-out" data-aos-offset="120" data-aos-delay="100" data-aos-duration="800" data-aos-easing="ease-in-out") đối tác - khách hàng
    .container
        .swiper-container(data-aos="fade-up")
            .swiper-wrapper
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-1.png", alt="")
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-2.png", alt="")
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-6.png", alt="")
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-4.png", alt="")
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-5.png", alt="")
                .swiper-slide
                    .item 
                        .img
                            img(src="./img/home/doitac-6.png", alt="")
                