<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
        <add name="Menu chính" value="1" resourcefile="" />
        <add name="Menu footer" value="2" resourcefile="" />
        <add name="Menu footer0" value="256" resourcefile="" />
        <add name="tab navigation" value="4" resourcefile="" />
        <add name="sản phẩm và dịch vụ " value="8" resourcefile="" />
        <add name="giới thiệu" value="16" resourcefile="" />
        <add name="lĩnh vực hoạt động" value="32" resourcefile="" />
        <add name="dự án" value="64" resourcefile="" />
        <add name="Lĩnh vực hoạt động" value="128" resourcefile="" />
        <add name="sp" value="256" resourcefile="" />

    </position>

</settings>