section.chitiet-tuyendung 
    .container 
        .row 
            .col-lg-9.contain
                h3 Công nhân vận hành nhà máy điện mặt trời
                p 
                    strong Cơ hội nghề nghiệp 
                p 
                    span CÔNG TY CỔ PHẦN ĐẦU TƯ NĂNG LƯỢNG CAO NGUYÊN 
                    |có trụ sở tại Tp Buôn Ma Thuột, tỉnh Đắk Lắk đang tìm kiếm ứng viên có năng lực và kinh nghiệm cho vị trí:
                table.table 
                    tr 
                        td.title Vị trí tuyển dụng 
                        td Công nhân vận hành nhà máy điện mặt trời 
                    tr 
                        td.title Số lượng 
                        td 04 
                p 
                    strong Hồ sơ dự tuyển 
                p 
                    ul
                        li 
                            p Phiếu đăng ký dự tuyển lao động: thực hiện theo mẫu số 4 Thông tư 23/2014/TT BLĐTBXH ngày 29/8/2014 (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh); 
                        li 
                            p Sơ yếu lý lịch (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh);
                        li 
                            p Bằng tốt nghiệp nghề, bảng điểm quá trình học tập, các chứng chỉ khác (bản scan); - Chứng minh nhân dân (bản scan); 
                p 
                    strong Phỏng vấn người dự tuyển 
                p  Sau khi xem xét hồ sơ, nếu đạt yêu cầu, Công ty sẽ có thông báo phỏng vấn cụ thể. 
                p
                    strong Quyền lợi đuợc huởng khi làm việc
                    ul
                        li 
                            p Các chế độ phép, nghỉ lễ, nghỉ Tết, BHXH, BHYT, ốm đau, tai nạn lao động, ... thực hiện theo quy định nhà nước; 
                        li 
                            p Được bố trí xe đưa đón từ Văn phòng Công ty đến nơi làm việc. 9Chế độ lương: - Lương thử việc theo quy định nhà nước;
                        li 
                            p - Lương làm việc chính thức: thỏa thuận. 10. Địa điểm làm việc: cách Văn phòng Công ty khoảng 30km. 
                .button 
                    a.button-ungtuyen Ứng tuyển
                        em.mdi.mdi-arrow-right
                    p Hoặc
                    a.button-down Tải mẫu đơn xin việc
                        em.mdi.mdi-arrow-right
            .col-lg-3.other
                .head
                    h2 tuyển dụng khác
                ul.list-item
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    
                        


