section.duan-wrapper(setBackground='./img/home/duan-bg.png')
    .container 
        .row 
            .col-12.col-lg-6
                h1(data-aos="fade-right" data-aos-offset="120" data-aos-duration="700" data-aos-easing="ease-in-out") dự án
                .content(data-aos="fade-right" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="ease-in-out")
                    p Cao Nguyên JSC hướng đến sự phat triển bền vững với các dự án xây dựng, kết cấu hạ tầng, hệ thống năng lượng,... Các dự án đã và đang được đưa vào xây dựng, hoàn thiện với mục đích cung cấp lợi ích tối ưu nhất cho khách hàng.
                    a.button-viewmore xem thêm
                        em.mdi.mdi-arrow-right
            .col-12.col-lg-6(data-aos="fade-left" data-aos-offset="120" data-aos-delay="750" data-aos-duration="1000" data-aos-easing="ease-in-out")
                .img 
                    img(src="./img/home/duan-1.png", alt="")
        .row.list-duan(data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="1000")
            .col-12.col-lg-4.item
                .img 
                    img(src="./img/home/duan-1.png", alt="")
                    .title 
                        a(href="#") Nhà máy điện mặt trời Jang Pông 2 
            .col-12.col-lg-4.item
                .img 
                    img(src="./img/home/duan-2.png", alt="")
                    .title 
                        a(href="#") Dự án xây dựng
            .col-12.col-lg-4.item
                .img 
                    img(src="./img/home/duan-3.png", alt="")
                    .title 
                        a(href="#") Dự án 04
            
