section.sanpham-chitiet
    .container 
        .row.box1
            .col-lg-6.box-content
                .content 
                    h2 Sản xuất điện từ nhà máy điện mặt trời JangPông giai đoạn 1 (10MWp
                    ul.social-icon
                        li
                            a.twt(href="#")
                                em.fab.fa-twitter
                        li
                            a.fb(href="#")
                                em.fab.fa-facebook-f
                        li
                            a.fax(href="#")
                                em.mdi.mdi-fax
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao. Cao Nguyên JSC cung cấp các bản thiết kế cũng như các giải pháp giúp giải quyết các vấn đề về những công trình kỹ thuật dân dụng tại Việt Nam.
                    p Nhu cầu đối với các công trình dân dụng như: xây dựng nhà, xây dựng công trình đường sắt, xây dựng công trình cấp thoát nước... đang ngày càng tăng cao.
            .col-lg-6.box-img
                .img 
                    img(src="./img/sanpham-2.png", alt="")
        .row.box2
            .col-lg-6.box-img
                .img 
                    img(src="./img/sanpham-1.png", alt="")
            .col-lg-6.box-content 
                .content 
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu. Tại Cao Nguyên JSC, chúng tôi khai thác nguồn năng lượng từ mặt trời để chuyển hóa thành điện năng.
                    p Việc tiếp tục sử dụng nhiên liệu hóa thạch tạo ra mức độ cao carbon dioxide và ô nhiễm không khí. Ô nhiễm không khí gây ra các vấn đề sức khỏe có hại và khí thải CO 2 góp phần thay đổi khí hậu.